$F1PX: 0.0625rem;
$F2PX: 0.125rem;
$F3PX: 0.1875rem;
$F4PX: 0.25rem;
$F5PX: 0.3125rem;
$F6PX: 0.375rem;
$F7PX: 0.4375rem;
$F8PX: 0.5rem;
$F9PX: 0.563rem;
$F10PX: 0.625rem;
$F11PX: 0.688rem;
$F12PX: 0.75rem;
$F13PX: 0.813rem;
$F14PX: 0.875rem;
$F15PX: 0.9375rem;
$F16PX: 1rem;
$F17PX: 1.0625rem;
$F18PX: 1.125rem;
$F19PX: 1.1875rem;
$F20PX: 1.25rem;
$F21PX: 1.3125rem;
$F22PX: 1.375rem;
$F23PX: 1.4375rem;
$F24PX: 1.5rem;
$F25PX: 1.5625rem;
$F26PX: 1.625rem;
$F27PX: 1.6875rem;
$F28PX: 1.75rem;
$F29PX: 1.8125rem;
$F30PX: 1.875rem;
$F31PX: 1.9375rem;
$F32PX: 2rem;
$F33PX: 2.0625rem;
$F34PX: 2.125rem;
$F35PX: 2.1875rem;
$F36PX: 2.25rem;
$F37PX: 2.3125rem;
$F38PX: 2.375rem;
$F39PX: 2.4375rem;
$F40PX: 2.5rem;
$F41PX: 2.5625rem;
$F42PX: 2.625rem;
$F43PX: 2.6875rem;
$F44PX: 2.75rem;
$F45PX: 2.8125rem;
$F46PX: 2.875rem;
$F47PX: 2.9375rem;
$F48PX: 3rem;
$F49PX: 3.0625rem;
$F50PX: 3.125rem;
$F51PX: 3.1875rem;
$F52PX: 3.25rem;
$F53PX: 3.3125rem;
$F54PX: 3.375rem;
$F55PX: 3.4375rem;
$F56PX: 3.5rem;
$F57PX: 3.5625rem;
$F58PX: 3.625rem;
$F59PX: 3.6875rem;
$F60PX: 3.75rem;
$F61PX: 3.8125rem;
$F62PX: 3.875rem;
$F63PX: 3.9375rem;
$F64PX: 4rem;
$F65PX: 4.0625rem;
$F66PX: 4.125rem;
$F67PX: 4.1875rem;
$F98PX: 4.25rem;
$F69PX: 4.3125rem;
$F70PX: 4.375rem;
$F71PX: 4.4375rem;
$F72PX: 4.5rem;
$F73PX: 4.5625rem;
$F74PX: 4.625rem;
$F75PX: 4.6875rem;
$F76PX: 4.75rem;
$F77PX: 4.8125rem;
$F78PX: 4.875rem;
$F79PX: 4.9375rem;
$F80PX: 5rem;
$F81PX: 5.0625rem;
$F82PX: 5.125rem;
$F83PX: 5.1875rem;
$F84PX: 5.25rem;
$F85PX: 5.3125rem;
$F86PX: 5.375rem;
$F87PX: 5.4375rem;
$F88PX: 5.5rem;
$F89PX: 5.5625rem;
$F90PX: 5.625rem;
$F91PX: 5.6875rem;
$F92PX: 5.75rem;
$F93PX: 5.8125rem;
$F94PX: 5.875rem;
$F95PX: 5.9375rem;
$F96PX: 6rem;
$F97PX: 6.0625rem;
$F98PX: 6.125rem;
$F99PX: 6.1875rem;
$F100PX: 6.25rem;