.tooltip_data {
    height: inherit;
    width: inherit;
}

.tooltip_container {
    width: fit-content;
    height: fit-content;

    .tooltip_arrow {
        width: 0;
        height: 0;
        border-left: 10px solid rgba(0, 0, 0, 0);
        border-right: 10px solid rgba(0, 0, 0, 0);
        border-bottom: 10px solid rgb(192, 128, 128);
        position: absolute;
    }

    .tooltip_body {
        box-shadow: 1px 0px 6px 1px #b0abab;
        padding: 10px;
        border-radius: 5px;
    }
}

.visibel {
    display: block;
}

.hide {
    display: none;
}